*{
    padding: 0;
    margin: 0;
    color: black;
}

.nav{
    display: flex;
    align-items: flex-end;
    align-content: center;
    justify-items: center;
}
.main{
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    display: flex;
    flex-direction: column;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    padding-left: 100px;
    padding-right: 100px;
}
.card img{
    width: 100%;
}
.card {
    outline: solid 2px black;
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 1rem);

}
.card_Info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 1rem;
    margin: 1rem;
}

.nav a{
    text-decoration: none;
    padding: 1rem;
    font-size: 1rem;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.footer .info{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    flex-direction: column;
}
.footerBtn{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}
.footerBtn .liens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;


}